
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
}

ul, menu {
    list-style: none;
    padding: 0;
    margin: 0%;
}
a {
    width: 100%;
    height: 100%;
}
.contenido {
    display: flex;
}


/*>>> BARRA DE NAVEGACION*/

nav {
    display:flex;
    flex-direction: column;
    border-right: 1px solid rgb(219, 219, 219);
    width: 260px;
    height: 100vh;
    padding: 0px 12px; /*Se agrega sumado como pixeles extras*/
    position: sticky;
    top: 0%;
    left: 0%;
}

/*>> Logo de intagram*/
.logo-instagram {
    display: flex;
    align-items: center;
    height: 100px;
}
.logo-instagram a {
    width: 100%;
    height: auto;
}
.logo-1 {
    width: 130px;
}

.logo-2 {
    width: 25px;
    display: none;
}

/*>> Seccion navegacion principal*/
.nav-principal {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav-principal > li {
    /*> Botones de nav principal*/
    margin: 4px 0px;
    padding: 0 10px;
    height: 45px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.nav-principal > li:hover{
    transition-delay: 0.22s;
    background-color: rgb(186, 186, 186);
}

.nav-principal > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-principal > li > a > img{
    width: 23px;
    height: 23px;
    margin-right: 10px;
    
}

.boton-perfilnav img {
    border: 2px solid black;
    border-radius: 50%;
}

/*>> Boton de mas opciones*/
.nav-botonmas {
    height: 56px;
    margin-bottom: 30px;
    padding-left: 0px;
}
.nav-botonmas > li {
    margin: 4px 0px;
    padding: 0 10px;
    height: 45px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.nav-botonmas > li:hover{
    transition-delay: 0.22s;
    background-color: rgb(186, 186, 186);
}
.nav-botonmas > li > a {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;

}

.nav-botonmas > li > a > img{
    width: 23px;
    height: 23px;
    margin-right: 10px;
    
}

/*Ajustes superiores vista movil*/
.ajuste-superior {
    display: none;
    background-color: white;
    border-bottom: 1px solid rgb(32, 32, 32);
    height: 50px;
    padding: 0px 15px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    
}
.ajuste-superior img {
    width: 25px;
}



/* CUERPO DE LA PAGUINA*/
.cuerpo {
    width: 100%;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*> Cuerpo principal de la pagina (Perfil)*/
main {
    height: 100%;
    width:  100%;
    max-width: 930px;
    padding-top: 55px;
}

/*>> Encabezado del prefil*/
.perfil-encabezado {
    display: flex;
}
.menu { /*NO ESTA EN USO*/
    background-color: rgb(145, 0, 12);
    width: 40px;
    height: 80px;
    display: flex;
}
/*>>> Foto de perfil*/
.seccion-foto-perfil {
    height: 100%;
    width: 420px;
}

.marco-photo {
    width: 150px;
    height: 150px;
    margin: auto;
    background-color: bisque;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
}

.marcoPhoto img {
    width: auto;
    height: auto;
}

/*>>> Informacion personal*/
.user-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.user-data > ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
}

/*>>>> Bones de edicion*/
.ajustes-base {
    display: flex;
    list-style: none;
    padding: 0;
}

.boton-edicion{
    margin: 0 15px;
    padding: 0 10px;
    background-color: rgb(177, 177, 177);
    border-radius: 10px;
}
.ajustes-base img {
    height: 23px;
    width: 23px;
}
/*>>>> Boton de edicion mediaqueri*/
.user-data > div > .boton-edicion {
    display: none;
}

/*>>>> Numeros de la cuenta*/
.numeros-perfil {
    width: auto;
    align-items: center;
}
.numeros-perfil > li {
    margin-right: 25px;
}

/*>>>> Descripcion*/
.descripcion p {
    margin: 0;
}
/*>> Seccion de historias destacadas*/

.historias-destacadas ul {
    display: flex;
    list-style: none;
    margin: 35px 0px;
    padding-left: 40px;
    overflow: scroll;
    ::-webkit-scrollbar {
        display: none;
    }
}



.historia {
    margin: 0px 20px;
}
.historia a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historias-destacadas img {
    height: 75px;
    width: 75px;
    margin-bottom: 5px;
    border-radius: 50%;
    padding: 4px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(104, 104, 104);
}

/*>> Navegacion secciones de galeria*/

.nav-galeria {
    border-top: 1px solid gray;
    height: 40px;
    font-size: 15px;
}

.galeria-main {
    border-top: 1px solid black;
}
.nav-galeria ul {
    height: 100%;
    display: flex;
    justify-content: center;
}
.nav-galeria li {
    height: 100%;
    margin: 0px 30px;
    display: flex;
}
.nav-galeria a{
    display: flex;
    align-items: center;
}
.nav-galeria img {
    width: 15px;
}

/*>> Galeria*/
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}
.galeria>div{
    height: 298px;
}
.galeria a{
    width: 100%;
    height: 100%;
}

.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*>> Pie de pagina*/
footer {
    height: 60px;
    width: 100%;
    padding: 10px 0px 50px 0px;
}
footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0px;
}
footer li {
    margin: 0px 8px;
    font-size: 12px;
}

footer a:hover {
    text-decoration: underline;
}

/*MEDIAS*/

/*>BARRA  DE NAVEGACION MINIMIZADA*/
@media (width <= 1260px) {
    /*Barra nav*/
    .barra-navegacion {
        width: 70px;
    }
    .logo-1 {
        display: none;
    }

    .logo-2 {
        display: flex;
        margin: 0px auto;
    }
    .barra-navegacion span {
        display: none;
    }
    .barra-navegacion a{
        justify-content: center;
    }
    .nav-principal > li > a > img {
        margin-right: 0px;
    }
    .nav-botonmas > li > a > img {
        margin-right: 0px;
    }
}

/*> MEDIA BARRA DE NAVEGACION INFERIOR*/
@media (width <= 765px) {
    
    .contenido {
        flex-direction: column-reverse;
        width: 100vw;
    }

    .ajuste-superior {
        display: flex;
    }
    

    .cuerpo {
        width: 100%;
    }
    main {
        width: 100%;
    }



    .barra-navegacion {
        flex-direction: row;
        height: 60px;
        width: 100%;
        padding: 0%;
        position: sticky;
        bottom: 0%;
        background-color: white;
        border-top: 1px solid black;
    }



    .nav-principal {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .user-data > div > .boton-edicion {
        display: flex;
    }

    .boton-busquedas, .boton-notificaciones, .numeros-perfil, .ajustes-base .boton-edicion {
        background-color: aquamarine;
        display: none;
    }
    
    .logo-instagram, .nav-botonmas, footer, .descripcion {
        display: none;
    }

}

